<!DOCTYPE html>
<html>

<head>

    <title>FlowNest</title>

</head>

<body>

    {% include 'navbar.html' %}

    {% include 'sidebar.html' %}

    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% block content %}

        {% endblock %}

    </main>

</body>

</html>